#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  background-color: blue;
}
#logo {
  width: 200px;
  margin-left: 20px;
}
#title-name {
  font-size: 80px;
  color: var(--color-darkpurple);
  font-family: "Rage Italic", sans-serif;
}
#navigation {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: var(--color-darkpurple);
  margin-right: 20px;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 30px;
  background-color: black;
  height: 150px;
}

#social-link {
  height: 50px;
  margin: 20px;
} 