#header {
  display: flex;
  flex-direction: row;
  align-items: top;
  flex-wrap: wrap;
  margin-bottom: 50px;
  background-color: rgb(26, 26, 184);
  color: rgb(197, 175, 226);
}
#logo {
  width: 300px;
  max-width: 100%;
  height: auto;
  margin-left: 10px;
  object-fit:contain;
  flex: 1;
}
#title-name {
  min-width: 400px;
  font-size: 80px;
  font-family: sans-serif;
  flex: 3;
}
#title-name1{
  margin: 20px;
  margin-right:auto;
  margin-left:calc(15%);
  width:fit-content;
  font-size: 90px;
}
#title-name2{
  margin: 20px;
  margin-left:auto;
  margin-left:calc(50%);
  width:fit-content;
  font-size: 60px;
}
#navigation {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 20px;
  flex: 0;
  
  a{
    color: white;
  }
}

#footer {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  /* margin-top: 50px; */
  /* margin-bottom: 30px; */
  padding: 30px;
  background-color: black;
  height: 150px;
  color: blue;
  font-size: 60px;
}

#social-link {
  height: 50px;
  margin: 20px;
} 

body{
  background-color: rgb(37, 37, 102);
  color:rgb(197, 175, 226);
}

h1{
  text-align: center;
  font-size: 60px;
  font-family:Arial, Helvetica, sans-serif
}
h2{
  text-align: center;
  font-size: 40px;
  font-family:Arial, Helvetica, sans-serif
}
h3{
  text-align: center;
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif
}
.section-band{
  margin: 20px 0px;

  width: 100%;
}

.section-container{
  width: 100%;
}